{% extends 'travel_wishlist/base.html'  %} <!--  wishlist template will look for bast template  -->
{% block content %}

    <h2>Places You Have Visited</h2>

    {%  if visited  %}  <!--   if anything visited-->

    <ul>
        {% for place in visited %}
            <li>
                <a href="{% url 'place_details' place.pk %}">{{  place.name  }}</a>
            </li>
        <!--   create list item for every place in visited -->
        {% endfor %}
    </ul>

    {%  else  %}
         <p>You have not visited any places yet.</p>


    {% endif %}


    {% endblock %}
