{% extends 'travel_wishlist/base.html' %} <!--  wishlist template will look for bast template  -->
{% block content %}

<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
<!--  URL reversing -->
        {% csrf_token %}
        {{ new_place_form }}
        <button id="add-new-place" type="submit">Add</button>
</form>
<!--  This is a 'for' loop in the template.  For every place in places list, create this piece of HTML. This HTML will be repeated x times.  -->
{% for place in places %}


        <div class="wishlist-place">
                <span class="place-name">{{  place.name  }}</span>
                <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
                        {% csrf_token %}
                <button>Visited!</button>
                </form>
        </div>

{% empty %}  <!--  if 'places' is empty, text below is rendered  -->

<p>You have no places in your wishlist</p>

{% endfor %}

{% endblock %}